/*landing page*/
body {
    background-color: #3f3123; 
    color: #4a121a; 
    padding: 30px;
}

/*centre strips*/
.main-container {
    background-color: #c9bca7; 
    max-width: 850px; 
    margin: 0 auto; 
    padding: 24px;
    border-radius: 25px; 
}

